body {
	font-family: Arial, sans-serif;
	background:#FFF; 
	margin: 0;
}

.space {
	height: 60px;
}

.header {
	top: 0;
	position: fixed;
	font-family: Times, serif;
	background-color: #743466;
	height:50px; width:100%; 
  	color:white;
  	margin-bottom: 10px;
}

.header li {
	display: inline;
	padding-left: 5px;
	font-style: italic;
	list-style-type: none
}

.main {
	position: relative;
	padding: 20px;
}

.footer {
	position: absolute;
	bottom: 3px;
	padding: 20px;
}